<!DOCTYPE html>
<html>
  <head>
    <%- include('headerSettings') %>
  </head>
  <body>
    <div class="container-fluid">
      <%- include('header') %>
      <p>
        Prototyp aplikacji do zarządzania notatkami
      </p>
      <div class="row">
        <div class="col-xs-12">
          <% if (notelist.length > 0) { %>
            <ul><%
              for (var note of notelist) {
                %><li><%= note.key %>:
                  <a href="/notes/view?key=<%= note.key %>"><%= note.title %></a>
                </li><%
              }
            %></ul>
          <% } %>
        </div>
      </div>

      <%- include('footer') %>
    </div>
  </body>
</html>
