<!DOCTYPE html>
<html>
  <head>
    <%- include('headerSettings') %>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>sddfsd</div>
    <%- include('header') %>
    <% if (notelist.length > 0) { %>
      <ul><%
        for (var note of notelist) {
          %><li><%= note.key %>:
            <a href="/notes/view?key=<%= note.key %>"><%= note.title %></a>
          </li><%
        }
      %></ul>
    <% } %>
  </body>
</html>
