<!DOCTYPE html>
<html>
  <head>
    <%- include('headerSettings') %>
  </head>
  <body>
    <div class="container-fluid">
      <%- include('header') %>
      <p>
        Prototyp aplikacji do zarządzania notatkami
      </p>
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-group-vertical" role="group" style="width: 100%;">
            <% for (var note of notelist) { %>
             <a class="btn btn-lg btn-block btn-primary" href="/notes/view?key=<%= note.key %>">
              <%= note.title %>
            </a>
            <% } %>
          </div>
        </div>
      </div>

      <%- include('footer') %>
    </div>
  </body>
</html>
