<!DOCTYPE html>
<html>
  <head>
    <%- include('headerSettings') %>
  </head>
  <body>
    <div class="container-fluid">
      <%- include('header') %>
      <div class="row">
        <div class="col-xs-12">
          <form method="POST" action="/notes/save">
            <input type="hidden" name="docreate" value='<%= docreate ? "create" : "update" %>'>
            <div class="form-group">
              <label for="notekey">Klucz</label>
              <% if (docreate) { %>
                <input class="form-control" type="text" id="notekey" name="notekey" value="" placeholder="klucz" />
              <% } else { %>
                <%= note ? notekey : "" %>
                <input class="form-control" type="hidden" id="notekey" name="notekey" value='<%= note ? notekey : "" %>' />
              <% } %>
            </div>
            <div class="form-group">
              <label for="title">Tytuł</label>
              <input type="text" class="form-control" id="title" name="title" placeholder="tytuł notatki" value='<%= note ? note.title : "" %>' />
            </div>
            <div class="form-group">
              <textarea class="form-control" style="height: 200px;" name="body" rows="5"><%= note ? note.body : "" %></textarea>
            </div>
            <button type="submit" class="btn btn-secondary">Wyślij</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>